@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.Preloader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
    }
    span {
        animation: petap 1.5s ease-in-out;
        font-size: 57px;
        font-weight: normal;

    }
    img { 
        position: relative;
        animation: updown  1.5s infinite ease-in-out;
    }
}

@keyframes petap {
    from {
        font-size: 40px;
    }
    to {
        font-size: 57px;
    }
    
}

@keyframes updown {
    from, to {
        bottom:0;
    }
    50% {
        bottom: 5%;
        box-shadow: none;
    }
}